<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="/ruta/a/tu/hoja/de/estilos.css">
</head>
<body>
    <h1>Detalles del Producto</h1>
    <div>
        <h2>{{prod.title}}</h2>
        <p>Descripción: {{prod.description}}</p>
        <p>Precio: {{prod.price}}</p>
        <p>Stock: {{prod.stock}}</p>
        <p>Categoría: {{prod.category}}</p>
        <p>Código: {{prod.code}}</p>
        {{#if prod.status}}
            <p>Estado: Activo</p>
        {{else}}
            <p>Estado: Inactivo</p>
        {{/if}}
    </div>
</body>
</html>